{%extends 'accounts/account_base.html'%}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="{% static 'img/qm_logo.webp' %}" alt="Quantum Mind Logo">
    </div>
    <div class="text-center mt-4 name">
        Quantum Mind
    </div>
    <form class="p-3 mt-3" method="POST">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userNameOrEmail" id="user-name" placeholder="Username/Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="{% url 'public:signup' %}">Sign up</a>
    </div>
    <span class="d-block text-center my-4 text-muted">— or —</span>
    <div class="mt-3">
<!--        <a type="button" class="btn btn-danger mt-3 pt-2" style="text-align:start" href="#"><i class="bi bi-facebook"></i> Login with facebook</a>-->
        <a type="button" class="btn btn-danger mt-3 pt-2" style="text-align:start" href="{% url 'social:begin' 'google-oauth2' %}"><i class="bi bi-google"></i> Login with google</a>
<!--        <button class="btn btn-success mt-3" style="text-align:start"><i class="bi bi-github"></i> Login with github</button>-->
    </div>
</div>
{% endblock content %}