{% extends 'base.html'%} {% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock style %}
{% block content %}

<div class="sidebar_wrapper">
    {% include 'partials/sidebar_aside_content.html' %}
    <div class="container position-absolute bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast-message" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">body</div>
        </div>
    </div>

    <div class="container d-flex flex-column" style="height: 90vh;">
        <div id="conversation-container"
             class="flex-grow-1 my-2 overflow-y-scroll overflow-x-hidden d-flex flex-column align-items-center"></div>
        <div class="w-100 mx-auto my-2">
            <p id="loading" class="text-center d-none">Loading...</p>
            <div class="input-group my-2">
                <input id="query" type="text" class="form-control" placeholder="Enter your question (Required)"
                       aria-label="Enter your question"
                       aria-describedby="question-submit-button">
                <button class="btn btn-outline-success" type="button" id="query-submit-button">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock script %}